html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  letter-spacing: 0;
}

p:not(:last-child) {
  margin-bottom: 1rem;
}

ol,
ul {
  margin-left: 1rem;
}

ol {
  list-style-type: disc;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  letter-spacing: 0;
}
